<div class="container-fluid" style="padding: 0vw 0vw 0vw 0vw;">



                     <nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style="margin: 0vw 0vw 0vw 0vw;" id="e50">

                                <a class="navbar-brand" style="padding: 0vw 0vw 0vw 0vw;width:10%;"><img src="assets/appIcon.jpg" style="width:50px;height:auto;border-radius: 50%;margin: auto;">
                                 <b style="margin-left:10%;">MyShop</b></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#e48" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                   <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="e48">
                                  <ul class="navbar-nav ml-auto">
                                    <li  id="e43" class="nav-item active">
                                      <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li id="e44" class="nav-item active">
                                      <a class="nav-link" routerLink="/login">Login</a>
                                    </li>
                                    <li id="e45" class="nav-item active">
                                      <a class="nav-link" routerLink="/registration">Registration</a>
                                    </li>
                                    <li id="e46" class="nav-item dropdown active">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Category
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" routerLink="/all">All</a>
                                        <a class="dropdown-item" routerLink="/electronics/5f36a05eba809b02a8080268">Electronics</a>

                                        <a class="dropdown-item" routerLink="/toys/5f36a0a9ba809b02a808026a">Toys</a>

                                        <a class="dropdown-item" routerLink="/clothes/5f36a0d0ba809b02a808026b">Clothes</a>

                                        <a class="dropdown-item" routerLink="/beauty/5f36a0a0ba809b02a8080269">Beauty</a>
                                      </div>
                                    </li>
                                    <li id="e47" class="nav-item active">
                                      <a class="nav-link" routerLink="/cart">
                                              <img src="assets/Cart.svg">
                                              <b id="e49">{{total_product}}</b>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                      </nav>




</div>
