#e1{
     font-weight: bold;
     font-variant: small-caps;
     color: white;


     text-align: center;
}
#e2{
     font-weight: bold;
     font-variant: small-caps;
     color: white;


     text-align: center;
}
#e3{
     font-weight: bold;
     font-variant: small-caps;
     color: white;


     text-align: center;
}


#e5{
      color: white;


      text-align: center;
}
#e6{
      color: white;

      text-align: center;
}
#e7{
      color: white;

      text-align: center;
}
