
<div class="container-fluid">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width: 100%;height:auto;;
             background-color: #4b5d67;text-align: center;
             ">
                    <a href="#" style="color: white;text-decoration: none;">Back To Top</a>
            </div>

         </div>
         <div id="e4" class="row bg-dark" style="height: auto;">
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top: 2vw;margin-bottom:5vw; text-align: center;">

                     <p id="e1">Get To Know Us</p>
                     <a routerLink="/aboutus" id="e5" style="text-decoration: none;"> <small>About Us</small></a>

           </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top: 2vw;margin-bottom:5vw;text-align: center;">
                    <p id="e2">Make Money With Us</p>
                    <a routerLink="/sellonmyshop" id="e6" style="text-decoration: none;"><small>Sell On Myshop</small></a>
           </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top: 2vw;margin-bottom:5vw;text-align: center;">
                   <p id="e3">Let Us Help You</p>

                    <a  routerLink="/mylogininfo"  style="text-decoration: none;color: white;"><small>my login info</small></a><br>
                    <a  routerLink="/myorders"  style="text-decoration: none;color: white;"><small>my orders</small></a>

           </div>
         </div>
         <div class="row bg-dark" >
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <hr style="background-color:white;margin-bottom: 0.5vw;">
                   </div>
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <button type="button" class="btn btn-secondary" style="margin-left:45%;margin-bottom: 1vw;"> Sign Out</button>
                   </div>
         </div>
</div>
