<div class="container-fluid">

          <div class="row" style="height: auto; margin: 0.4vw 1vw 0.011vw 1vw;padding: 0% 0% 0% 0%;">
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">

            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                     <img src="assets/appIcon.jpg"
                      style="border-radius: 50%;width: 30%; height: 30%;margin-top:0%;margin-left: 35% ;
                      margin-right:35%;padding: 0% 0% 0% 0%;position: relative;top: 3vw;"
                      alt="appIcon">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">

            </div>
         </div>
         <div class="row" style="height: auto; margin: 0.4vw 1vw 0.011vw 1vw;padding: 0% 0% 0% 0%;">
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">

            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
              <p style="text-align: center;
              font-size:1vw;font-weight: bold;
              color: black;">
                  MyShop</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">

            </div>
         </div>

         <div class="row"
              style="margin: 0vw 3vw 3vw 3vw;">

  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3">
  </div>
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
    <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)" style="padding: 1vw 1vw 1vw 1vw;" class="border">
      <h1 class="display-4" style="margin-bottom:1vw;"> Create Account</h1>

      <div class="form-group">
             <label for="name1"><small><b>Enter Your Name</b></small></label>
             <input  ngModel name="name" type="text" class="form-control" id="name1" placeholder="enter name">
      </div>
      <div class="form-group">
             <label for="name1"><small><b>Enter Your Last Name</b></small></label>
             <input ngModel name="lastname" type="text" class="form-control" id="name1" placeholder="enter last name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small><b>Enter Email</b></small></label>
        <input  ngModel name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username or mobile number">
      </div>
      <div class="form-group">
        <label for="e22">Enter Address</label>
        <textarea  ngModel name="address" class="form-control" id="e22" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"><small><b>Enter Password</b></small></label>
        <input  ngModel  name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

      </div>
      <div class="form-group">
        <label for="exampleInputPassword2"><small><b>Re-enter Password</b></small></label>
        <input  ngModel name="reInterPassword" type="password" class="form-control" id="exampleInputPassword2" placeholder="Re-enter Password">
      </div>

      <button type="submit" class="btn btn-primary" style="margin-left:42%;">Create Account</button>
      <p style="text-align: center;"><small>by creating account your agree with myShop term and services</small></p>
      <hr>
    </form>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3">
  </div>
</div>

<hr>
</div>
