#e8{
       margin: 0vw 0vw 0vw 0vw;
       padding: 0vw 0vw 0vw 0vw;
}


#e9{

       height: 40vw;
       width: 100vw;

       margin: 0vw 0vw 0vw 0vw;
       padding: 0vw 0vw 0vw 0vw;
}

#e10{
       text-align: center;
       font-size: 5vw;

       color:gray;
       font-style: italic;
}

#e11{
       text-align: center;
       font-size: 4vw;

       color:gray;
       font-style: italic;
}

#e12{
       text-align: center;
       font-size: 3vw;

       color:gray;
       font-style: italic;
}

#e13{
       margin-top: 6vw;
       text-align: center;
       font-size: 2vw;

       color:gray;
       font-style: italic;
}
