<div id="e8" class="container-fluid">
     <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img id="e9" src="assets/aboutUs.jpg" alt="aboutUs">
          </div>
     </div>


     <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <p id="e10">Our Company</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p  id="e11">Building The Future</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p  id="e12">We strive to have a positive impact on customers, employees, small businesses, the economy, and communities.
                       myShopians are smart, passionate builders with different backgrounds and goals,
                       who share a common desire to always be learning and inventing on behalf of our customers.</p>
                       <div id="e13">
                            <p>Innovation</p>
                            <p>Small business</p>
                            <p>Authors</p>
                            <p>Job creation and investment</p>
                    </div>
          </div>

     </div>
</div>
