<div class="container-fluid">
       <div class="row">

                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">

                  <form class="border" style="padding: 3% 3% 3% 3%;margin-top:1vw;">
                    <div class="form-group">
                      <p class="display-4"><b>ChangeName</b></p>
                      <hr width="100%">
                      <small>If you want to change the name associated with your Amazon customer account,
                         you may do so below. Be sure to click the Save Changes button when you are done.</small><br>
                      <label for="exampleInputEmail1" style="margin-top: 4%;">New Name:</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                    </div>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                </div>

       </div>
</div>
